<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h1>Booking Information</h1>
        </div>
    </div>
    <div class="row mb-5" *ngIf="requestDetails">
        <div class="col" >
            <span class="material-icons">
                flight_takeoff
                </span>
                 {{requestDetails.from}}
        </div>
        <div class="col">
            <span class="material-icons">
                connecting_airports
                </span>
        </div>
        <div class="col">
            <span class="material-icons">
                flight_land
                </span> {{requestDetails.to}}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <h4>Adults Info</h4>
        </div>
    </div>
    <div class="row mb-3" *ngFor="let detail of adults; let i = index">
        <div class="col">
            <select [(ngModel)]="adults[i]['title']" class="form-select">
                <option value="mr">Mr</option>
                <option value="mrs">Mrs</option>
                <option value="ms">Ms</option>
            </select>
        </div>
        <div class="col"><input [(ngModel)]="adults[i]['firstName']" class="form-control" type="text">
        </div>
        <div class="col"><input [(ngModel)]="adults[i]['lastName']" class="form-control" type="text">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col">
            <h4>Children Info</h4>
        </div>
    </div>
    <div class="row mb-3" *ngFor="let detail of children; let i = index">
        <div class="col">
            <select [(ngModel)]="children[i]['title']" class="form-select">
                <option value="mr">Mr</option>
                <option value="mrs">Mrs</option>
                <option value="ms">Ms</option>
            </select>
        </div>
        <div class="col"><input [(ngModel)]="children[i]['firstName']" class="form-control" type="text">
        </div>
        <div class="col"><input [(ngModel)]="children[i]['lastName']" class="form-control" type="text">
        </div>
    </div>

    <div class="row">
        <div class="col"><input type="button" (click)="request()" class="btn btn-success" value="Request Ticket Now"></div>
    </div>

</div>