<!-- Section: Design Block -->
<section class="text-center">
  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px)"
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up now</h2>
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1"
                    >Company Name <span style="color:#ff0000">*</span> </label
                  >
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2"
                    >Full Name <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1"
                    >Address <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2"
                    >City <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1"
                    >State/Country <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="email" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2"
                    >Email Address <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1"
                    >Phone Number <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2"
                    >WhatsApp Number <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1"
                    >Company GST No </label
                  >
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2"
                    >Nearest Airport <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1"
                    >Monthly Business <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input required type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2"
                    >Refered By <span style="color:#ff0000">*</span></label
                  >
                </div>
              </div>

              
            </div>
           

            <div class="form-outline mb-4">
              <input required type="text" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3"
                >Name 1 Local Travel Agent You Know <span style="color:#ff0000">*</span></label
              >
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input required type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Password <span style="color:#ff0000">*</span></label>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example33"
                checked
              />
              <label class="form-check-label" for="form2Example33">
                Subscribe to our newsletter
              </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
