<mat-card class = "m-2">
    <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select [(value)]="selectedFrom">
          <mat-option>None</mat-option>
          <mat-option value="MAA">Chennai (MAA)</mat-option>
          <mat-option value="BLR">Banglore (BLR)</mat-option>
          <mat-option value="HYD">Hyderabad (HYD)</mat-option>
          <mat-option value="IBX">Bagdogra (IBX)</mat-option>
          <mat-option value="NYK">Nanyuki (NYK)</mat-option>
          <mat-option value="OBX">Obo (OBX)</mat-option>
          <mat-option value="PJB">Payson (PJB)</mat-option>
          <mat-option value="MTS">Matsapha (MTS)</mat-option>
          <mat-option value="COK">Cochin (COK)</mat-option>
          <mat-option value="JMK">Mykonos (JMK)</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <mat-select [(value)]="selectedTo">
          <mat-option>None</mat-option>
          <mat-option value="MAA">Chennai (MAA)</mat-option>
          <mat-option value="BLR">Banglore (BLR)</mat-option>
          <mat-option value="HYD">Hyderabad (HYD)</mat-option>
          <mat-option value="IBX">Bagdogra (IBX)</mat-option>
          <mat-option value="NYK">Nanyuki (NYK)</mat-option>
          <mat-option value="OBX">Obo (OBX)</mat-option>
          <mat-option value="PJB">Payson (PJB)</mat-option>
          <mat-option value="MTS">Matsapha (MTS)</mat-option>
          <mat-option value="COK">Cochin (COK)</mat-option>
          <mat-option value="JMK">Mykonos (JMK)</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Departure date</mat-label>
        <input matInput [matDatepicker]="Dpicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="Dpicker"></mat-datepicker-toggle>
        <mat-datepicker #Dpicker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Return date</mat-label>
        <input matInput [matDatepicker]="Rpicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="Rpicker"></mat-datepicker-toggle>
        <mat-datepicker #Rpicker></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Number of passagers</mat-label>
        <mat-select [(value)]="numberOfPassangers">
          <mat-option>None</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-flat-button color="primary" (click)="search()">Search Flight</button>
    </mat-card>

    <mat-card>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <!-- <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container> -->
          
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="source">
              <th mat-header-cell *matHeaderCellDef> source </th>
              <td mat-cell *matCellDef="let element"> {{element.source}} <br/>
                Terminal - {{element.sourceTerminal}}</td>
            </ng-container> -->
        
             <!-- Symbol Column -->
             <!-- <ng-container matColumnDef="sourceTerminal">
                <th mat-header-cell *matHeaderCellDef> Terminal </th>
                <td mat-cell *matCellDef="let element"> {{element.sourceTerminal}} </td>
              </ng-container> -->
          
            <!-- Weight Column -->
            <!-- <ng-container matColumnDef="destination">
              <th mat-header-cell *matHeaderCellDef> destination </th>
              <td mat-cell *matCellDef="let element"> {{element.destination}} <br/>
                Terminal - {{element.destinationTerminal}}</td>
            </ng-container> -->
        
            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="destinationTerminal">
                <th mat-header-cell *matHeaderCellDef> Terminal </th>
                <td mat-cell *matCellDef="let element"> {{element.destinationTerminal}} </td>
                </ng-container> -->
                <!-- Symbol Column -->
            <ng-container matColumnDef="airline">
                <th mat-header-cell *matHeaderCellDef> Airline </th>
                <td mat-cell *matCellDef="let element"> {{element.airline}} <br/>{{element.flightNumber}}</td>
              </ng-container>
                  <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="flightNumber">
                <th mat-header-cell *matHeaderCellDef> flightNumber </th>
                <td mat-cell *matCellDef="let element"> {{element.flightNumber}} </td>
              </ng-container> -->
                  <!-- Symbol Column -->
            <ng-container matColumnDef="departureTime">
                <th mat-header-cell *matHeaderCellDef> Departure </th>
                <td mat-cell *matCellDef="let element"> {{element.departureTime | date:'shortTime'}} <br/>
                  {{element.source}} <br/>
                  {{element.departureTime | date}}<br/>
                Terminal - {{element.sourceTerminal}} </td>
              </ng-container>
                  <!-- Symbol Column -->
            <ng-container matColumnDef="arrivalTime">
                <th mat-header-cell *matHeaderCellDef> Arrival </th>
                <td mat-cell *matCellDef="let element"> {{element.arrivalTime |date:'shortTime'}}<br/>
                  {{element.destination}} <br/>
                  {{element.arrivalTime | date}}<br/>
                  Terminal - {{element.destinationTerminal}}
                 </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> INR {{element.price*element.seat}}  </td>
              </ng-container>
              <ng-container matColumnDef="seat">
                <th mat-header-cell *matHeaderCellDef> Seat </th>
                <td mat-cell *matCellDef="let element"> 
                  <button routerLink="/search" [queryParams] = "{from:'MAA',to:'IBX'}" class = "m-2" mat-stroked-button color="primary">Book</button>
                  <br/>
                  Seats Left: {{element.seat}} 
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons 
          aria-label="Select page of periodic elements">
        </mat-paginator>
        </div>
            
    </mat-card>